/*Sección About*/

.about{
    margin: 2rem 0;
    padding: 3rem 0;
    background: var(--cor-de-cards);
    color: #ffffff;
}

.about__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 70%;
    margin: auto;
    padding: 0 15rem 0 0;
}

@media screen and (max-width: 768px) {
    .about__container{
        width: 90%;
        padding: 0;
    }
}
